<%- include('partials/header'); -%>

<form method="POST">
  <h2>Uredi restaurant</h2>
  <label for="naziv">Name of restaurant</label>
  <input type="text" name="naziv" value="<%= result[0].naziv %>" />
  <div class="email error"></div>
  <label for="grad">City</label>
  <input type="text" name="grad" value="<%= result[0].grad %>" />
  <div class="password error"></div>
  <label for="kategorija">Category</label>
  <input type="text" name="kategorija" value="<%= result[0].kategorija %>" />
  <label for="zvjezdice">Stars</label>
  <input type="text" name="zvjezdice" value="<%= result[0].zvjezdice %>" />
  <label for="dodatno">Dodatno</label>
  <input type="text" name="dodatno" value="<%= result[0].dodatno %>" />
  <button>UREDI</button>
</form>

<%- include('partials/footer'); -%>
